nav{
	background-color: #C12127;
	color: rgba(255,255,255,0.8);
	padding:  15px 0 15px 0;
	border-color: green;
	border-style: solid;
    border-width: 5px;
}

.main-bar{
	padding:  0 0 15px 0;
	border-color: blue;
	border-style: solid;
    border-width: 5px;
    height: 50px;
    vertical-align: top;
}
.logo{
	
	margin-right: 15px;
}
.logo img{
	width: 60px;
	float: left;
	margin-right: 15px;
	vertical-align: bottom;
}
.search{
	float: left;
    border-color: yellow;
	border-style: solid;
    border-width: 5px;
	width: 60%;
	position: relative;
}

.search input[type=button]{
  float: left;
}
.search input[type=text]{
	float: left;
	width: 90%;
}


.heart{
	padding: 0 10px 0 10px; 
}
.acronym{
	padding-left: 5px;
}
nav div{
    display: inline-block;
}
nav a{
	color:  rgba(255,255,255,0.8);
	text-decoration: none;
}

.top-links{
	display: inline-block;
	float: right;
	padding: 0;
	margin:0 20px 0 0;
}
.top-links li{
	display: inline-block;
	margin: 0 10px;
}
.auth{
	display: inline-block;
	float: right;
	margin:0 20px 0 0;
}
.auth li{
	display: inline-block;
	margin:0 20px 0 0;
	text-decoration: none;
	color: white;
}

.links{
	text-decoration: none;
	color: white;
}
.auth li img{
	width: 30px;
}


header{
	background-color: rgb(32, 101, 136); 
}

